
:root {
	--red-bg: #c60b1e;
	--yellow-bg: #ffc400;
	--header-height: 46px;
	--footer-height: 46px;
	--light-gray: rgba(0, 0, 0, .5);
}

* {
	padding: 0;
	margin: 0;
}

.truncate { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 280px; 
  height: 1.4em; 
  white-space: nowrap;
}

.wrapper {
	max-width: 400px;
	max-height: 500px;
	width: 390px;
	height: 440px;
}

.header {
	width: 100%;
	height: var(--header-height);
	background: var(--red-bg);
}

.main {
	height: auto;
}

.main .main__input {
	padding: 12px;
	width: 100%;
}

.main .main__input .text_enter {
	width: 90%;
	padding: 8px;
}

.main__content span {
	color: var(--light-gray);
	font-size: 12px;
	padding: 8px 15px;
}

.main__content .content__block {
  display: flex;
  align-items: left;
  text-align: left;
  flex-direction: column;
  box-sizing: border-box;
  line-height: 25px;
  padding-left: 60px;
  margin-top: 10px;
}

.main__content .content__block .entered__word {
	color: #444;
	font-size: 18px;
}

.main__content .content__block .translations {
	font-size: 16px;
	color: var(--light-gray);
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: var(--footer-height);
	background: var(--red-bg);
}
